form .helptext{
    font-size: 12px;
    color:#ccc;
}

form ul{
    display:none;
}
.newsletter-wrapper{
    padding: 50px 20px;
    text-align: center;
    background:#f1f1f1
}
.newsletter-wrapper .has-addons{
    justify-content: center;
}
.notification.space-bellow{
    margin-bottom: 20px;
}